DATABASE_URL="postgresql://barber:barber@localhost:5432/barber"
APP_URL="http://localhost:3000"
AUTH_SECRET="troque-por-uma-chave-longa-de-32-chars-minimo"
BREVO_API_KEY=""
BREVO_SENDER_EMAIL="barbeiro_on@outlook.com"
BREVO_SENDER_NAME="BARBEIRO_ON"
ADMIN_EMAIL="machaddoo@gmail.com"
ADMIN_PASSWORD="Pr@782031"
